html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    width: 100%;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    -webkit-font-smoothing: antialiased;
}

.nav {
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  margin: 0px;
  padding: 0px;
  height: 5em;
  background-color: #fff;
  z-index: 5;
  

}

.logo {
  position: absolute;
  left: 20%;
  

}

nav div {
  width: 970px;
  height: 70px;
  margin: 0px auto;
  
}

nav ul {
  float: right;
  
}

nav li {
  display: inline-block;
  list-style: none;
  margin-right: 2em;
  line-height: 3em;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
}

.active {
  color: #4c5058;
  font-weight: 600;
}

nav li:hover {
  color: #e1421f;
  cursor: pointer;
  transition: 0.5s ease;
}

.header-photo {
  height: 50em;
  background-image: url(../images/background-karma.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; 

}

.header-text{
  position: relative;
  top: 15em;
  width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

h1, h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  font-weight: 200;

}

h1 {
  font-size: 3.3em;
  color: #fff;
}

h3 {
  font-size: 1.5em;
  color: #fff;

}

.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin-top: 20px;
    background-color: #e1421f;
    color: #fff;
    font-size: 1em;
}


.cases {
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  width: 50em;
  height: 21em;
  
}

.child-box {
  display: inline-block;
  margin: 1em;
}

.cases h2 {
  font-size: 2em;
  font-weight: 200;  

}

.cases h3 {
  font-size: 1.5em;
  font-weight: 200;
  color: #000;
}

hr {
  width: 970px;
  color: #a9a9a9;
}

footer {
  width: 500px;
  height: 200px;
  margin: 0px auto;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}


.social {
  width: 300px;
  height: 50px;
  margin: 10px auto 20px auto;
 

}

.icons li {
  display: inline-block;
  float: left;
  list-style-type: none;
  font-size: 2em;
  margin-top: 10px;
}

.fa {
  border: 1px solid #838994;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.fa-twitter {
  padding: 10px 0px 0px 10px;
  margin: -10px 10px;
  color: #4099ff;
}

.fa-facebook {
  padding: 10px 0px 0px 15px;
  margin: -10px 10px;    
  color: #3b5998;
}

.fa-instagram {
  padding: 8px 0px 2px 11px;
  margin: -10px 10px;  
  color: #517fa4;  
}


.copyright {
  color: #838994;
  font-weight: 200;
}



